body{
    background-color: #181818;
    font-family: 'Shippori Antique B1', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.title-login{
    width: 100%;
    height: 100%;
    margin: 30px;
    color: white;
}

.container{
    width: 50%;
    height: 200%;
    border-radius: 12%;

}

.login-box{
    width: 300px;
    height: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 12%;
    color: black;
    font-size: 20px;
}

.login-box i{
    margin-top: 40px;
}

input[type=submit]{
    color: white;
    background-color: #F7934C;
    font-size: 15px;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
}

.ref-btn{
    color: white;
    background-color: #F7934C;
    font-size: 15px;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
}

.user-data{
    border: 0 solid;
    background: transparent;
    margin: 10px;
    border-bottom: 1px solid #181818;
    font-size: 15px;
}

